# Practical Exercise (1) - Exploring Benchmark

### Dataset A (Supervised Learning – Classification)

**Dataset: Credit Card Fraud Detection <br>
https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud?search=Supervised+Learning+–+Classification** <br>

About Dataset:
Credit card companies are able to recognize fraudulent credit card transactions so that customers are not charged for items that they did not purchase.

In [1]:
import pandas as pd

In [2]:
cc_data = pd.read_csv("creditcard.csv")
cc_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
selected_features = ['Amount', 'Time', 'V2', 'V4', 'V11']
target = 'Class'

cc_subset = cc_data[selected_features + [target]]
cc_subset.head()

   Amount  Time        V2        V4       V11  Class
0  149.62   0.0 -0.072781  1.378155 -0.551600      0
1    2.69   0.0  0.266151  0.448154  1.612727      0
2  378.66   1.0 -1.340163  0.379780  0.624501      0
3  123.50   1.0 -0.185226 -0.863291 -0.226487      0
4   69.99   2.0  0.877737  0.403034 -0.822843      0

**Target (Label) Column 
Class <br>
0 - Legitimate transaction <br>
1 - Fraudulent transaction <br>
Binary classification (supervised learning) problem.**

**Why These Features Were Selected: <br>
Time -  transaction timing related to fraud <br>
Amount - fraudulent transactions often show abnormal amounts <br>
V2, V4, V11 - informative in fraud detection**

In [4]:
cc_subset.info()
cc_subset.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Amount  284807 non-null  float64
 1   Time    284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V4      284807 non-null  float64
 4   V11     284807 non-null  float64
 5   Class   284807 non-null  int64
dtypes: float64(5), int64(1)
memory usage: 13.0 MB

,Amount,Time,V2,V4,V11,Class
count,284807.000000,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000
mean,88.349619,94813.859575,5.682686e-16,2.811118e-15,9.289524e-16,0.001727
std,250.120109,47488.145955,1.651309e+00,1.415869e+00,1.020713e+00,0.041527
min,0.000000,0.000000,-7.271573e+01,-5.683171e+00,-4.797473e+00,0.000000
25%,5.600000,54201.500000,-5.985499e-01,-8.486401e-01,-7.624942e-01,0.000000
50%,22.000000,84692.000000,6.548556e-02,-1.984653e-02,-3.275735e-02,0.000000
75%,77.165000,139320.500000,8.037239e-01,7.433413e-01,7.395934e-01,0.000000
max,25691.160000,172792.000000,2.205773e+01,1.687534e+01,1.201891e+01,1.000000

### Dataset B (Unsupervised Learning)

**Dataset: Market Segmentation in Insurance Unsupervised <br>
https://www.kaggle.com/datasets/jillanisofttech/market-segmentation-in-insurance-unsupervised/data** <br>

About Dataset: Dataset summarizes the usage behavior of about 9000 active credit cardholders during the last 6 months. The file is at a customer level with 18 behavioral variables.

In [5]:
segment_data = pd.read_csv("Customer data.csv")
segment_data.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [6]:
selected_features = ['CUST_ID', 'BALANCE', 'BALANCE_FREQUENCY', 'PURCHASES_TRX']

segment_subset = segment_data[selected_features]
segment_subset.head()

  CUST_ID      BALANCE  BALANCE_FREQUENCY  PURCHASES_TRX
0  C10001    40.900749           0.818182              2
1  C10002  3202.467416           0.909091              0
2  C10003  2495.148862           1.000000             12
3  C10004  1666.670542           0.636364              1
4  C10005   817.714335           1.000000              1

**Target (Label) Column: None**

**Why These Features Were Selected: <br>
CUST_ID - unique customer identifier<br>
BALANCE - customer account balance <br>
BALANCE_FREQUENCY - indicates how regularly the balance is updated<br>
PURCHASES_TRX - transaction activity level**

In [7]:
segment_subset.info()
segment_subset.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8950 entries, 0 to 8949
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CUST_ID            8950 non-null   object
 1   BALANCE            8950 non-null   float64
 2   BALANCE_FREQUENCY  8950 non-null   float64
 3   PURCHASES_TRX      8950 non-null   int64
dtypes: float64(2), int64(1), object(1)
memory usage: 279.8+ KB

            BALANCE  BALANCE_FREQUENCY  PURCHASES_TRX
count   8950.000000        8950.000000    8950.000000
mean    1564.474828           0.877271      14.709832
std     2081.531879           0.236904      24.857649
min        0.000000           0.000000       0.000000
25%      128.281915           0.888889       1.000000
50%      873.385231           1.000000       7.000000
75%     2054.140036           1.000000      17.000000
max    19043.138560           1.000000     358.000000